body
{
  background-color: #282c34;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px #61DAFB solid;
  color: #61DAFB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span
{
  font-size: 50px;
  
}
.counter {
  display: flex;
  align-items: center;
}

.buttons {
  padding: 15px;
  display: flex;
  align-items: center;
}

span {
  font-size: 30px;
  padding: 5px;
  
}

button {
  margin: 5px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  background-color: #282c34;
  color: #61DAFB;
  border: 1px solid #61DAFB;
}

button:hover
{
  background-color: #61DAFB;
  color: #282c34;  
}

.reset
{
  width: 100px;
  
}

.reset span
{
  font-size: 20px;
}

.reset:hover
{
  background-color: #282c34;
  color: #61DAFB;
  border: 1px solid #61DAFB;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
